.playwright-mcp/
__pycache__/
*/__pycache__/
*.py[cod]
.DS_Store
.envrc
members.json
exclude_paths.json


# idea ignore
.idea/
*.ipr
*.iml
*.iws
*.factorypath
.venv/
*.superpowers/
.gstack/
.claude/settings.local.json
